@font-face {
  font-family: "ibm-plex-mono-regular";
  src: local("ibm-plex-mono-regular.woff2"),
    url("../fonts/ibm-plex-mono-regular.woff2") format("woff2");
}

body {
  font-family: ibm-plex-mono-regular, monospace;
  font-size: small;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

/* div li a {
  text-decoration: none;
} */

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: calc(50% / 4) calc(50% / 4) 1fr;
  margin-left: 1.5rem;
  /* outline: 1px solid red; */
  height: 93vh;
  /* width: 100%; */
  width: calc(100% - 1.5rem);
  grid-template-columns:
    minmax(10rem, 1rem)
    minmax(10rem, 15rem);
}

.container > * {
  /* outline: 1px solid blue; */
}

.about {
  grid-area: 1 / 1 / span 1 / span 2;
}

.about p {
  overflow: hidden;
  max-height: 0;
  animation: reveal 4s ease forwards;
}

.projecttext p {
  overflow: hidden;
  margin-left: 2.3rem;
  margin-right: 1.5rem;
  max-height: 0;
  animation: reveal 4s ease forwards;
}

@keyframes reveal {
  to {
    max-height: 100vh; /* groß genug für Text */
  }
}

.projectheadlines {
  grid-area: 1 / 1 / span 1 / span 1;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline dashed; */
  text-decoration: underline; /* Fallback */
}

@supports (text-decoration-style: dashed) {
  a:hover {
    text-decoration-line: underline;
    text-decoration-style: dashed;
  }
}

.navactive {
  /* text-decoration: underline dashed; */
  text-decoration: underline; /* Fallback */
}

@supports (text-decoration-style: dashed) {
  .navactive {
    text-decoration-line: underline;
    text-decoration-style: dashed;
  }
}

.slideshow-container {
  position: relative; /* wichtig für Pfeile */
  margin-top: -26rem; /* nach oben verschieben: kleiner Wert = höher */
}

.mySlides {
  display: none;
  z-index: 10000;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* alte Edge/IE */
  user-select: none;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

#vertical {
  width: calc(30% / 3 * 2);
}

#videovertical {
  width: calc(30% / 3 * 2);
}

#storyvertical {
  width: calc(30% / 3 * 2);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 1rem;
  color: black;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* alte Edge/IE */
  user-select: none;
  text-decoration: none;
}

.prev:hover,
.next:hover {
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
}

@media (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "projects"
      "about";
  }

  .projecttext p {
    margin-left: 0;
    font-size: smaller;
    margin-bottom: 1.5rem;
  }

  .projecttext {
    position: absolute;
    top: 30rem;
    left: 1.5rem;
    width: calc(100% - 3rem);
  }

  img,
  video {
    /* position: relative; */
    /* top: auto; */
    /* left: auto; */
    /* transform: none; */
    width: 80%;
    /* max-width: 90vw; */
    /* margin: 0 auto; */
    /* display: block; */
  }

  #vertical {
    width: calc(80% / 3 * 2);
  }

  ul li a {
    padding: 1rem 0.2rem;
    margin-left: 1rem;
    max-width: 85vw;
    font-size: smaller;
  }

  .about {
    font-size: smaller;
  }

  .projectheadlines {
    font-size: smaller;
  }

  p {
    max-width: 85vw;
  }

  .prev,
  .next {
    font-size: smaller;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #storyvertical {
    width: calc(60% / 3 * 2);
  }

  .slideshow-container {
    margin-top: -55vh; /* nach oben verschieben: kleiner Wert = höher */
  }
}
